---
import { getProjectsGithub } from "@/functions/projets";

import type { IProject } from "@/shared/models/project.interface";
import Project from "../Project.astro";

const projects: IProject[] = await getProjectsGithub();

const filterProjects = projects.filter((project: IProject) => {
  if (
    project.homepage &&
    project.homepage !== "" &&
    !(project.homepage ?? "").includes("danniel.dev")
  ) {
    return project;
  }
});
filterProjects.sort(
  (a, b) => new Date(b.created_at).getTime() - new Date(a.created_at).getTime()
);

const { limit } = Astro.props;
---

<div class="flex flex-col">
  <h2
    class="text-3xl font-bold mt-12 ml-44 mb-8 text-left self-start text-[#7AEC51]"
  >
    Proyectos
  </h2>
  <div class="flex justify-evenly gap-6 container mx-auto my-auto">
    {
      filterProjects
        .slice(0, limit)
        .map((project: IProject) => (
          <Project
            key={project.id}
            name={project.name}
            created_at={project.created_at}
            description={project.description}
            html_url={project.html_url}
            homepage={project.homepage}
          />
        ))
    }
  </div>
</div>
