---
import Article from "@/components/Article.astro";
import Hero from "@/components/Hero.astro";
import { getArticlesDevto } from "@/functions/articles";
import Layout from "@/layout/Layout.astro";
import type { IArticle } from "@/shared/models/article.interface";

const articles: IArticle[] = await getArticlesDevto();
---

<Layout
  description="Explora el conocimiento y los proyectos desarrollados por Daniel Navas, también conocido como Danniel DEV, en el mundo del desarrollo de software. Únete a nuestra comunidad tecnológica y descubre cómo llevamos la innovación a la práctica."
  title="Danniel DEV | Daniel Navas: Artículos y Proyectos en Desarrollo de Software"
  canonical="https://danniel.dev"
>
  <main class="bg-[#102742]">
    <Hero />
    <div
      class="flex flex-col justify-center items-center gap-6 container mx-auto my-auto"
    >
      <h2 class="text-3xl font-bold mt-12 ml-32 text-left self-start text-[#7AEC51]">
        Artículos Recientes
      </h2>
      {
        articles
          .slice(0, 3)
          .map((article) => (
            <Article
              key={article.id}
              title={article.title}
              description={article.description}
              image={article.cover_image}
              url={article.url}
            />
          ))
      }
    </div>
  </main>
</Layout>
