---
const { image, title, description, url } = Astro.props;
---

<a
  href={url}
  rel="noopener noreferrer"
  aria-label={title}
  target="_blank"
  class="flex justify-center"
>
  <article
    class="flex bg-white w-[1044px] h-[165px] p-6 rounded-lg gap-4 max-sm:flex-col max-sm:h-auto max-sm:p-4 max-sm:w-4/5 sm:w-full lg:w-[1033px]"
  >
    <img src={image} alt={title} class="rounded-lg" />
    <div class="">
      <h2 class="text-2xl font-bold text-balance">
        {title}
      </h2>
      <p class="text-sm font-normal text-balance mt-3">{description}</p>
    </div>
  </article>
</a>
