---
const { image, title, description, time, url } = Astro.props;
---

<a
  href={url}
  rel="noopener noreferrer"
  aria-label={title}
  target="_blank"
  class="flex justify-center"
>
  <article
    class="flex bg-white w-[1044px] h-[165px] p-6 rounded-lg gap-4 max-sm:flex-col max-sm:h-auto max-sm:p-4 max-sm:w-4/5 sm:w-full lg:w-[1033px] group"
  >
    <img
      src={image}
      alt={title}
      class="rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
    />
    <div class="">
      <h2 class="text-2xl font-bold text-balance">
        {title}
      </h2>
      <p class="text-sm font-normal text-balance mt-3">{description}</p>
      <div class="flex justify-between items-center mt-3">
        <span class="text-xs text-gray-500">{time} min de lectura</span>
      </div>
    </div>
  </article>
</a>
