---
import Icon from "./icons/Icon.astro";
import Logo from "./Logo.astro";

interface Menu {
  name: string;
  url: string;
}

const menu: Menu[] = [
  {
    name: "Inicio",
    url: "/",
  },
  {
    name: "Post",
    url: "/blog",
  },
  {
    name: "Proyectos",
    url: "/projects",
  },
];
---

<nav
  class="flex justify-between items-center bg-[#102742] text-white p-1 container mx-auto my-auto"
>
  <a href="/" rel="noopener noreferrer" class="flex items-center">
    <Logo class="w-14" />
    <h1 class="ml-1 text-3xl">Danniel Dev</h1>
  </a>

  <Icon name="ph:hamburger" id="menu-toggle" class="cursor-pointer sm:hidden w-10" />

  <menu
    id="menuSelector"
    class="hidden absolute top-16 right-3 bg-[#102742] p-4 flex-col border-cyan-400 border-2 rounded-lg w-1/2 h-auto"
  >
    {
      menu.map(({ name, url }) => (
        <a
          href={url}
          class="no-underline text-white w-full"
          rel="noopener noreferrer"
          aria-label={name}
        >
          <li class="list-none mr-1 ml-1 p-3 bg-sky-800 mb-2 rounded-md hover:bg-sky-700 hover:text-cyan-400">
            <span>{name}</span>
          </li>
        </a>
      ))
    }
  </menu>

  <menu class="flex justify-between items-center gap-5 max-sm:hidden">
    {
      menu.map(({ name, url }) => (
        <li class="list-none mr-1 ml-1">
          <a
            href={url}
            class="no-underline text-white"
            rel="noopener noreferrer"
            aria-label={name}
            id="link"
          >
            {name}
          </a>
        </li>
      ))
    }
  </menu>
</nav>
<script>
  const menuIcon = document.querySelector("#menu-toggle"); // Cambiamos el selector al ID del label
  const menu = document.querySelector("#menuSelector");
  const menuLinks = document.querySelectorAll("#menuSelector a");

  if (!menuIcon || !menu) {
    console.error("No se encontraron los elementos del menú");
  }

  menuIcon?.addEventListener("click", () => {
    console.log("Click en menú");
    console.log("Estado actual del menú:", menu?.classList.contains("hidden"));
    menu?.classList.toggle("hidden");
  });

  menuLinks.forEach((link) => {
    link.addEventListener("click", () => {
      menu?.classList.add("hidden");
    });
  });
</script>
