---
import { getArticlesDevto } from "@/functions/articles";
import type { IArticle } from "@/shared/models/article.interface";
import Article from "./Article.astro";

const articles: IArticle[] = await getArticlesDevto();

const { numberItems } = Astro.props;
---

<div
  class="flex flex-col justify-center items-center gap-6 container mx-auto my-auto"
>
  <h2 class="text-3xl font-bold mt-12 ml-32 text-left self-start text-[#7AEC51]">
    Artículos Recientes
  </h2>
  {
    articles
      .slice(0, Number(numberItems))
      .map((article) => (
        <Article
          key={article.id}
          title={article.title}
          description={article.description}
          image={article.cover_image}
          url={article.url}
        />
      ))
  }
</div>
