---
const { name, created_at, description, html_url, homepage } = Astro.props;

const date = new Date(created_at);
const utc = date.getTime() + date.getTimezoneOffset() * 60000;
const offset = -5;
const colombia = new Date(utc + 3600000 * offset);
const newDate = colombia.toISOString().split("T")[0];
---

<article class="flex flex-col w-[240px] h-auto">
  <h3 class="text-2xl text-white font-extrabold capitalize">{name}</h3>
  <p class="text-[#7AEC51] mt-2">{newDate}</p>
  <p class="text-balance mt-6 text-white">{description}</p>
  <div class="flex gap-4 mt-4">
    <a href={html_url} target="_blank">
      <img src="/img/projects/github.webp" loading="lazy" alt="github project" />
    </a>
    <a href={homepage} target="_blank">
      <img src="/img/projects/shared.webp" loading="lazy" alt="shared project" />
    </a>
  </div>
</article>
